<div class="container1">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4">Search for Weather:</h3>
      <form [formGroup]="weatherSearchForm" (ngSubmit)="sendToAPIXU(weatherSearchForm.value)">
        <div class="form-group">
          <input class="form-control" type="text" id="weatherLocation" aria-describedby="weatherLocation"
            placeholder="Please input a Location" formControlName="location" />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success btn-md">
            Search for the weather
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h3 class="text-center my-4">Weather Details:</h3>
      <p class="text-center">
        Current weather conditions:
        {{ this.weatherData?.current.condition.text }}.
      </p>
      <p class="text-center">
        Temperature in Degrees: {{ this.weatherData?.current.temp_c }} °C
      </p>
      <p class="text-center">
        Feels like in Degrees:
        {{ this.weatherData?.current.feelslike_c }} °C
      </p>
      <p class="text-center">
        Location Searched: {{ this.weatherData?.location.name }},
        {{ this.weatherData?.location.country }}.
      </p>
    </div>

  </div>
</div>
<div class="container">
  <div class="weather-side">
    <div class="weather-gradient"></div>
    <div class="date-container">
      <h2 class="date-dayname">{{ this.weatherData?.forecast.forecastday[0].date|date:'EEEE'}}</h2><span class="date-day">{{ this.weatherData?.forecast.forecastday[0].date|date}}</span><i class="location-icon"
        data-feather="map-pin"></i>
      <span class="location">{{ this.weatherData?.location.name }},
        {{ this.weatherData?.location.country }}</span>
    </div>
    <div class="weather-container">
      <img src="{{ this.weatherData?.current.condition.icon}}" alt="">
      <h1 class="weather-temp">{{(this.weatherData?.current.temp_c)  }} °C</h1>
      <h3 class="weather-desc">{{ this.weatherData?.current.weather_descriptions }}</h3>
    </div>
  </div>
  <div class="info-side">
    <div class="today-info-container">
      <div class="today-info">
        <div class="precipitation"> <span class="title">FEELS LIKE</span><span
            class="value">{{ this.weatherData?.current.feelslike_c }} °C</span>
          <div class="clear"></div>
        </div>
        <div class="humidity"> <span class="title">HUMIDITY</span><span
            class="value">{{ this.weatherData?.current.humidity}} %</span>
          <div class="clear"></div>
        </div>
        <div class="wind"> <span class="title">WIND</span><span class="value">{{ this.weatherData?.current.wind_kph}}
            km/h</span>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="week-container">
      <ul class="week-list">
        <li class="active">
          <img src="{{ this.weatherData?.forecast.forecastday[0].hour[9].condition.icon}}" alt="">
          <span class="day-name">09:00</span>
          <span class="day-temp"> {{ this.weatherData?.forecast.forecastday[0].hour[9].temp_c}} °C</span></li>
          <li>
            <img src="{{ this.weatherData?.forecast.forecastday[0].hour[12].condition.icon}}" alt="">
          <span class="day-name">12:00</span>
          <span class="day-temp">{{ this.weatherData?.forecast.forecastday[0].hour[12].temp_c}} °C</span>
        </li>
        <li><img src="{{ this.weatherData?.forecast.forecastday[0].hour[15].condition.icon}}" alt=""><span class="day-name">15:00</span><span
            class="day-temp">{{ this.weatherData?.forecast.forecastday[0].hour[15].temp_c}} °C</span></li>
        <li><img src="{{ this.weatherData?.forecast.forecastday[0].hour[18].condition.icon}}" alt=""><span class="day-name">18:00</span><span
            class="day-temp">{{ this.weatherData?.forecast.forecastday[0].hour[18].temp_c}} °C</span></li>
        <div class="clear"></div>
      </ul>
    </div>
    <div class="location-container">
      <button type="submit" class="btn btn-success btn-md">
        Change location
      </button>
    </div>
  </div>
</div>
